<?xml version="1.0" encoding="utf-8" ?>
<!-- NLog config file.
https://github.com/NLog/NLog/wiki/Tutorial
-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile"
        xsi:type="File"
        fileName="${environment:USERPROFILE}/${shortdate}_hidemaru_lsp.log"
        maxArchiveFiles="4"
        archiveAboveSize="1000000"
        />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>
